/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    max-width: 100%;
}
header{
    display: flex;
    justify-content: center;
    font-size: 300%;
    background-color: #4f4f4f;

}
nav{
    background-color: #4f4f4f;
}
#links{
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 150%;
    
}
a{
    padding: 1%;
    border-radius: 6%;
    background-image: url(https://i.ibb.co/p1jL33s/Custom-Web-Button.png);
    text-decoration: none;
    color: white;
    background-color: yellowgreen;
    width: 8%;
    display:flex;
    justify-content: center;
    opacity: .7;
    
}
a:hover{
    opacity: 1;
    transition: .3s;
}
h2{
    font-size: 170%;
    margin-bottom: 1.5%;
    margin-top: 1%;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
p{
    text-align: center;
    font-size: large;
}
.image{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

.gallery{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.text{
    display: inline;
    text-align: center;
    font-size: 220%;
    padding-top: 15%;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    width: 17%
}

@media(max-width:500px){
    #links{
    
    display: flex;
    justify-content: space-evenly;
    }
    #links a{
        width: 23%;
    }


 footer{
     display: flex;
     justify-content: center;
     
 }
 footer a{
     width: 50%;
 }
 
}